@import 'variables';

body, html {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: $padding-standard;
  cursor: pointer;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

input {
  padding: $padding-standard;
  margin-bottom: $padding-standard;
  border: 1px solid #ccc;
  border-radius: 4px;
}